*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg: #131922;
    --secondary-text-color: #75797F;
    --top-bat-color: #070B12;
    --footer-bg: #282828;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-bg);
    font-size: 100%;
    font-weight: 500;
}

ul li {
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.fl {
    display: flex;
}

.fl-col {
    display: flex;
    flex-direction: column;
}

.fl-cc {
    justify-content: center;
    align-items: center;
}

.pl-10 {
    padding-left: 10px;
}

.br-circle {
    border-radius: 50%;
}

/* wrapper */
.wrapper {
    display: flex;
}

/* style text */
.sub-title {
    padding: 5px 0;
    font-size: .8rem;
    color: var(--secondary-text-color);
}

/* header */
header {
    background-color: black;
    width: 225px;
    height: calc(100vh - 80px);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.header-container {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.header-container ul.home {
    margin-bottom: 14px;
}

.header-container ul li{
    padding: 8px 0;
    color: var(--secondary-text-color);
    font-size: .8rem;
}

header .logo{
    width: 130px;
    height: 90px;
    padding-top: 15px;
}

header .logo img {
    width: 100%;
}

header .logo-small {
    display: none;
}

.header-top li:first-child {
    color: white;
}

.header-top ul li:nth-child(even) {
    display: none;
}

.header-top li img {
    width: 24px;
    vertical-align: middle;
    margin-right: 3px;
}

.plus {
    width: 35px;
    height: 35px;
    background-color: grey;
    font-size: 2rem;
    color: black;
    text-align: center;
    line-height: 35px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}

.playlist li:nth-child(2) {
    font-size: .9rem;
}

/* header bottom */
.header-bottom {
    margin-bottom: 8px;
}
.hb-wrapper {
    gap: 10px;
    align-items: center;
}

.hb-wrapper .install-app {
    color: var(--secondary-text-color);
}

.header-bottom img {
    width: 21px;
}

.header-bottom hr {
    width: 80%;
    margin: 10px 0;
}

#user-img {
    width: 28px;
    height: 28px;
    background-color: var(--secondary-text-color);
    border-radius: 50%;
}

/* main */
main {
    background-color: var(--main-bg);
    color: white;
    margin-left: 225px;
    height: calc(100vh - 80px);
    overflow-y: auto;
}

.main-container {
    padding: 15px 20px;
    margin-top: 90px;
}

.main-top-bar {
    width: 100%;
    height: 90px;
    background-color: var(--top-bat-color);
    position: fixed;
    top: 0;
    right: 0;

    justify-content: flex-end;
    align-items: center;
}

.btn-upgrade {
    text-transform: uppercase;
    color: white;
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 20px;
    margin-right: 5px;
    font-size: .8rem;
    cursor: pointer;
}

.nav-bar-top {
    width: 100%;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}

.nav-bar-top ul {
    flex-wrap: wrap;
}

.underline-hover {
    position: relative;
}

.underline-hover:hover::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 0;
    left: calc(50% - 15px);
    bottom: -2px;
    border-bottom: 2px solid #ADFF2E;
}

.nav-bar-top ul li {
    text-decoration: none;
    padding: 0 8px;
    line-height: 20px;
    font-size: .9rem;
}

.main-row {
    width: 100%;
    margin: 35px 0;
}

.main-row-title {
    width: 100%;
}

.main-row-box {
    display: flex;
    width: 100%;
    margin-top: 10px;
    gap: 8px;
}

.box-song-img {
    max-width: 180px;
}

.box-song {
    width: calc(100% / 6 - 10px);
    min-width: 100px;
    text-align: center;
    margin-top: 15px;
}

.overlay {
    /* display: none; */
}

/* .box-song:hover .box-song-img {
    background-color: red;
} */

.box-song-img img {
    width: 100%;
}

.box-song-info {
    padding-top: 10px;
    max-width: 180px;
}

.box-song-info h4 {
    padding-bottom: 4px;
}

/* style box-song */
/* footer */
footer {
    background-color: #282828;
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: 3;
}

footer i {
    cursor: pointer;
}

/* ! footer left */
.footer-left {
    width: 30%;
    height: 100%;
}

.img-wrapper {
    width: 43px;
    height: 43px;
}

.footer-left .footer-song {
    height: 100%;
    align-items: center;
    gap:10px;
}

.footer-left .footer-song img {
    width: 100%;
}

.footer-song-info h4 {
    color: white;
    font-size: .8rem;
}

.footer-song-info .sub-title {
    padding: 0;
    font-size: .7rem;
}

.footer-icons {
    color: var(--secondary-text-color);
    margin-left: 30px;
    width: 20%;
}

.footer-icons i {
    padding-left: 8px;
}

/* !main footer */
.footer-main {
    width: 40%;
    height: 100%;
}

/* footer top */
.footer-row-top {
    margin: 8px 0;
    height: 50%;
}

.main-footer-icons {
    color: white;
    font-size: 1.3rem;
}

.main-footer-icons .play {
    font-size: 2rem;
    vertical-align: middle;
}

.main-footer-icons i {
    padding: 0 10px;
}

/* footer bottom */
.footer-row-bottom {
    color: var(--secondary-text-color);
    font-size: .7rem;
}

.footer-row-bottom span {
    padding: 0 15px;
}

.footer-row-bottom .main-bar-time {
    width: 60%;
    display: flex;
}
.footer-row-bottom .bar-time-played {
    width: 30%;
    border: 2px solid white;
    border-radius: 10px 0 0 10px;
}

.footer-row-bottom .bar-time-left {
    width: 70%;
    border: 2px solid grey;
    border-radius: 0 10px 10px 0;
}

/* footer right section */
.footer-right {
    width: 30%;
    min-width: 80px;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.right-bar-time {
    width: 100px;
    display: flex;
    margin-right: 10px;
}

.right-footer-icons {
    padding-right: 8px;
    font-size: .8rem;
}

.right-bar-time .volume-bar {
    width: 100px;
    border: 2px solid grey;
    border-radius: 0 10px 10px 0;
}

.right-bar-time .volume-on {
    width: 25px;
    border: 2px solid white;
    border-radius: 10px 0 0 10px;
}


/* ? media query */
/* medium device >992 */
@media screen and (max-width: 992px) {
    .main-row-box {
        flex-wrap: wrap;
    }
    
    .box-song {
        width: calc(100% / 4 - 10px);
        }
}

/* medium-small device >768 */
@media screen and (max-width: 768px) {

/* font-size */
    .sub-title,
    .header-container ul li,
    .footer-song-info h4,
    .right-footer-icons {
        font-size: .7rem;
    }

    .playlist li:nth-child(2),
    .nav-bar-top ul li {
        font-size: .8rem;
    }

    .footer-song-info .sub-title {
        font-size: .6rem;
    }

    /* styles */
    header {
        width: 170px;
    }
    
    .header-container {
        padding-left: 15px;
    }
    
    main {
        margin-left: 170px;
    }
    
    .main-top-bar {
        height: 60px;
    }

    .btn-upgrade {
        padding: 7px 20px;
        font-size: .6rem;
    }
    
    .main-container {
        padding: 10px 15px;
        margin-top: 60px;
    }
    
    .box-song {
        width: calc(100% / 2 - 10px);
    }

    .main-footer-icons {
        font-size: .8rem;
    }

    .main-footer-icons .play {
        font-size: 1rem;
    }

    .footer-icons {
        margin-left: 5px;
    }

    footer {
        height: 60px;
    }
}

/* small device >576 */
@media screen and (max-width: 576px) {
    header {
        width: 40px;
    }

    .header-container {
        padding-left: 8px;
    }

    header .logo {
        display: none;
    }

    header .logo-small {
        display: block;
        padding-top: 5px; 
    }

    header .logo-small img {
        width: 25px;
    }

    header .playlist {
        display: none;
    }

    .header-top ul li:nth-child(odd) {
        display: none;
    }

    .header-top ul li:nth-child(even) {
        display: block;
    }


    .header-bottom .hb-wrapper > div {
        display: none;
    }

    .header-bottom {
        padding-left: 3px;
    }

    .header-bottom img {
        width: 18px;
    }

    #user-img {
        margin-top: 5px;
        width: 20px;
        height: 20px;
    }

    .header-bottom hr {
        display: none;
    }

    main {
        margin-left: 40px;
    }
}

