*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg: #131922;
    --secondary-text-color: #75797F;
    --top-bat-color: #070B12;
    
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

ul li {
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.fl {
    display: flex;
}

.fl-col {
    display: flex;
    flex-direction: column;
}

.fl-cc {
    justify-content: center;
    align-items: center;
}

/* wrapper */
.wrapper {
    display: flex;
}

/* style text */
.sub-title {
    padding: 5px 0;
    font-size: .8rem;
    color: var(--secondary-text-color);
}

/* header */
header {
    background-color: black;
    width: 225px;
    height: calc(100vh - 80px);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
}

.header-container {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.header-container ul.home {
    margin-bottom: 14px;
}

.header-container ul li{
    padding: 8px 0;
    color: var(--secondary-text-color);
    font-size: .8rem;
}

.logo{
    width: 130px;
    height: 90px;
    padding-top: 15px;
}

.logo img {
    width: 100%;
}

.header-top li:first-child {
    color: white;
    font-weight: 500;
}

/* main */
main {
    background-color: var(--main-bg);
    width: calc(100vw - 225px);
    color: white;
    margin-left: 225px;
}

.main-container {
    padding: 15px 20px;
}

.main-top-bar {
    width: 100%;
    height: 90px;
    background-color: var(--top-bat-color);
}

.nav-bar-top {
    width: 100%;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}

.nav-bar-top ul {
    flex-wrap: wrap;
}

.nav-bar-top ul li {
    text-decoration: none;
    padding: 0 8px;
    line-height: 20px;
    font-size: .9rem;
    font-weight: 500;
}

.main-row {
    width: 100%;
    margin: 35px 0;
}

.main-row-title {
    width: 100%;
}

.main-row-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    gap: 5px;
}

.box-song {
    text-align: center;
    width: calc(100% / 6);
    max-width: 180px;
    margin-top: 15px;
}

.box-song img {
    width: 100%;
}

.box-song-info {
    padding-top: 10px;
}

.box-song-info h4 {
    padding-bottom: 4px;
}

/* style box-song */
/* footer */
footer {
    background-color: darkgray;
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
}

.footer-left {
    width: 25%;
    height: 100%;
    border: 2px solid green;
}

.footer-main {
    width: 50%;
    height: 100%;
    border: 2px solid white;
}

.footer-right {
    width: 25%;
    height: 100%;
    border: 2px solid green;
}

/* !media query */
/* large device >992 */
@media screen and (max-width: 992px) {
    header {
        background-color: green;
    }

    .main-row-box {
    }

}

/* medium device >768 */
@media screen and (max-width: 768px) {
    header {
            background-color: pink;
        }


}

/* small device >576 */
@media screen and (max-width: 576px) {
    header {
            background-color: red;
        }
}

